PessoaCrudService/PessoaCrud/Service References/PessoaService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Inserir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pessoa" type="tns:Pessoa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Pessoa">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Chave" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Idade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InserirResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPessoaByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPessoaByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPessoaByKeyResult" type="tns:Pessoa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPessoas">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPessoasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPessoasResult" type="tns:ArrayOfPessoa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPessoa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pessoa" nillable="true" type="tns:Pessoa" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemovePessoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pessoa" type="tns:Pessoa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePessoaResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditPessoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pessoa" type="tns:Pessoa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditPessoaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InserirSoapIn">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="InserirSoapOut">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="GetPessoaByKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetPessoaByKey" />
  </wsdl:message>
  <wsdl:message name="GetPessoaByKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetPessoaByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPessoasSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPessoas" />
  </wsdl:message>
  <wsdl:message name="GetAllPessoasSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPessoasResponse" />
  </wsdl:message>
  <wsdl:message name="RemovePessoaSoapIn">
    <wsdl:part name="parameters" element="tns:RemovePessoa" />
  </wsdl:message>
  <wsdl:message name="RemovePessoaSoapOut">
    <wsdl:part name="parameters" element="tns:RemovePessoaResponse" />
  </wsdl:message>
  <wsdl:message name="EditPessoaSoapIn">
    <wsdl:part name="parameters" element="tns:EditPessoa" />
  </wsdl:message>
  <wsdl:message name="EditPessoaSoapOut">
    <wsdl:part name="parameters" element="tns:EditPessoaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Inserir">
      <wsdl:input message="tns:InserirSoapIn" />
      <wsdl:output message="tns:InserirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPessoaByKey">
      <wsdl:input message="tns:GetPessoaByKeySoapIn" />
      <wsdl:output message="tns:GetPessoaByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPessoas">
      <wsdl:input message="tns:GetAllPessoasSoapIn" />
      <wsdl:output message="tns:GetAllPessoasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemovePessoa">
      <wsdl:input message="tns:RemovePessoaSoapIn" />
      <wsdl:output message="tns:RemovePessoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditPessoa">
      <wsdl:input message="tns:EditPessoaSoapIn" />
      <wsdl:output message="tns:EditPessoaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPessoaByKey">
      <soap:operation soapAction="http://tempuri.org/GetPessoaByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPessoas">
      <soap:operation soapAction="http://tempuri.org/GetAllPessoas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePessoa">
      <soap:operation soapAction="http://tempuri.org/RemovePessoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPessoa">
      <soap:operation soapAction="http://tempuri.org/EditPessoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap12:operation soapAction="http://tempuri.org/Inserir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPessoaByKey">
      <soap12:operation soapAction="http://tempuri.org/GetPessoaByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPessoas">
      <soap12:operation soapAction="http://tempuri.org/GetAllPessoas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePessoa">
      <soap12:operation soapAction="http://tempuri.org/RemovePessoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPessoa">
      <soap12:operation soapAction="http://tempuri.org/EditPessoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:49387/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:49387/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>